@model IEnumerable<Hardwares.MVC.ViewModels.HardwareViewModel>

@{
    ViewData["Title"] = "Список оборудования";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Создать</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Наименование</th>
            <th>Описание</th>
            <th>Дата установки</th>
            <th>Стоимость</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.InstallationDate</td>
            <td>@item.Cost</td>
            <td>
                <a asp-action="Edit" asp-route-id="item.Id">Изменить</a>
@*                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
